*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.name {
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	font-size: 200%;
	display: block;
	color: #eeeeee;
	padding: 0px 16px 0px 16px;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	text-decoration: overline underline;
}

#aboutme {
	text-align: left;
	height: 750px;
	width: 1100px;
	margin-left: 12em;
}

/* Makes the navbar align with name*/
.navright {
	float: right;
	margin-right: 16px;
	border-left: 16px;
}

/* Navbar container */
.navbar {
	overflow: hidden;
	background-color: #333;
	display: flex;
	align-items:center;
 }
  
  /* Links inside the navbar */
 .navbar a {
	float: left;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 16px 14px 16px 16px;
	text-decoration: none;
 }
  
  /* The dropdown container */
 .dropdown {
	float: left;
	overflow: hidden;
 }
  
  /* Dropdown button */
 .dropdown .dropbtn {
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	padding: 16px 14px 16px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
 }
  
  /* Add a blue background color to navbar links on hover */
 .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #63A3EB;
 }
  
  /* Dropdown content (hidden by default) */
 .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
 }
  
  /* Links inside the dropdown */
 .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
 }
  
  /* Add a grey background color to dropdown links on hover */
 .dropdown-content a:hover {
	background-color: #ddd;
 }
  
  /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
	display: block;
 }

.summerme {
	float: left;
	margin: 10px 16px 16px 892px;
}

.logo {
	width:35px;
	height:35px;
	vertical-align:middle;
}