*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
header {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	display: block;
	background-color: #97ddff;
}
body {
	font-family: Arial, Helvetica;
}

a:hover {
	text-decoration: overline underline;
}

.MyName {
	font-size: 125%;
	font-weight: bold;
}
img {
	width: 400px;
	height: auto;
	float: right;
	padding: 1.8em 1em 1em 1em;
}
#aboutme {
	text-align: justify;
	height: 750px;
	width: 1100px;
	margin-left: 12em;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none;
  }
  
#nav {
	display: inline;
}

li a:hover {
	color: #02547D;
	background-color: #A9E8DC;
}
#aboutmetitle {
	text-align: center;
}
#paragraph {
	margin: 0em 0.5em 0em 0.5em;
	line-height: 1.8;
	color: #000000;
}

/* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}